# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
.env.local
.env.*.local
**/.env
**/.env.*

# Build Outputs
dist/
**/dist/
build/
**/build/

# Logs & Coverage
*.log
coverage/

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
